<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Events</h1>
    </header>
    <section id="events">
      <h2>Events in Action</h2>
      <!-- v-on is a vue directive to listen to events -->
      <button 
      @click.left="add(5)">Add</button>
      <button @click.left="reduce(5)">Reduce</button>
      <p v-once>Starting Counter: {{ counter }}</p>
      <p>Result: {{ counter }}</p>
      <!-- $event pass from the vanilla js to vue the proprieties of the
      event we are currently manipulating -->

      <!-- v-model it's a shortcut for both (two way bindings) -->
      <!-- @input="setName($event, 'Lucas')" 
            v-bind:value="name"-->
      <input type="text" v-model="name">
      <input type="text" v-model="lastName">
      <button @click="resetInput">Reset Input</button>
      <p>Your Name: {{ fullname }}</p>
      <!-- event modifier .prevent -->
      <form @submit.prevent="submitForm" action="">
        <input type="">
        <button>Sign Up</button>
      </form>
    </section>
  </body>
</html>
